
<% include paartials/header %>
<link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <script src="assets/js/chart-master/Chart.js"></script>
    <script type="text/javascript">
        <!--
           function Warn() {
              alert ("Contact Admin for any changes");
             // document.write ("This is a warning message!");
           }
        //-->
     </script>
</head>
<body>
<section id="container" >
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>
              <!--logo start-->
              <a href="/landing" class="logo"><b>Indian Institute of Information Technology-Allahabad</b></a>
              <!--logo end-->
              
              <div class="top-menu">
                  <ul class="nav pull-right top-menu">
                      <li><a class="logout" href="/">Logout</a></li>
                  </ul>
              </div>
          </header>
        <!--header end-->
        
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                
                      <p class="centered"><a href="profile.html"></a><img src="<%=result.image%>" class="img-circle" width="60"></a></p>
                      <h5 class="centered"> <%= result.name %> </h5>
                          
                    <li class="mt">
                        <a  href="/landing">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
  
                    <li class="sub-menu">
                        <a class="active" href="/contact">
                            <i class="fa fa-desktop"></i>
                            <span>Personal Details</span>
                        </a>
                    </li>
  
                    <li class="sub-menu">
                        <a>
                            <i class="fa fa-cogs"></i>
                            <span>Utility</span>
                        </a>
                        <ul class="sub">
                            <li><a  href="/marks">Marks</a></li>
                            
                            <li><a  href="/todo">Todo List</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a  href="/hostelMess">
                            <i class="fa fa-desktop"></i>
                            <span>Hostel Details</span>
                        </a>
                        
                    </li>
                    
                    
                    
  
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->



        <section id="main-content">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i> Personal & Contact Details </h3>
              <div class="row">
                        <div class="col-md-12 mt">
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-angle-right"></i> Personal Details</h4>
                                <form class="form-horizontal style-form" action="/contact" method="POST">
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Father's Name :</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="disabledInput" type="text" name="father" placeholder="<%=person.father%>"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Mother's Name :</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="disabledInput" disabled type="text" name="mother" placeholder="<%=person.mother%>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Personal E-mail:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="disabledInput" type="text" disabled name="email"  placeholder="<%=person.email%>" >
                                        </div>
                                    </div>
                                    
                              
    
                
                                <h4 class="mb"><i class="fa fa-angle-right"></i> Contact Details</h4>
                                
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Mobile Number :</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="disabledInput" type="text" disabled name="mobileNo" placeholder="<%=person.mobileNo%>"
                                                >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Parent/Guardian Mobile Number :</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="disabledInput" disabled type="text" name="parentMobile" placeholder="<%=person.parentMobile%>"
                                                >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Address :</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="disabledInput" type="text" disabled name="address" placeholder="<%=person.address%>"
                                                >
                                        </div>
                                    </div>
                                    
                                
    
            
    
   
      
            
                        <h4 class="mb"><i class="fa fa-angle-right"></i> High School Details</h4>
                        
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">School Name :</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="hs_sc_name" placeholder="<%=person.hs_sc_name%>"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">School Address:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="hs_sc_address" disabled id="disabledInput" type="text" placeholder="<%=person.hs_sc_address%>"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Affliated Board :</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled name="hs_aff_board" type="text" placeholder="<%=person.hs_aff_board%>"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">CGPA / Percentage : </label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="hs_cg" placeholder="<%=person.hs_cg%>">
                                </div>
                            </div>
            
                        
    
            
                        <h4 class="mb"><i class="fa fa-angle-right"></i> Intermediate School Details</h4>
                       
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">School Name :</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="int_sc_name" placeholder="<%=person.int_sc_name%>"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">School Address:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="int_sc_address" placeholder="<%=person.int_sc_address%>"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Affliated Board :</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="int_aff_board" placeholder="<%=person.int_aff_board%>"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">CGPA / Percentage : </label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="int_cg" placeholder="<%=person.int_cg%>"
                                        >
                                </div>
                            </div>
            
                        
    
        
            
                        <h4 class="mb"><i class="fa fa-angle-right"></i> Qualifying Exam Details</h4>
                       
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Exam Name :</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="qual_exam" placeholder="<%=person.qual_exam%>"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Roll Number :</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="qual_roll" placeholder="<%=person.qual_roll%>" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Rank : </label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" disabled type="text" name="qual_rank" placeholder="<%=person.qual_rank%>" >
                                </div>
                            </div>
                            <button class="button" onclick="Warn()">Submit</button>
                                    <style>
                                        .button {
                                            background-color: #FA8072;
                                            border: none;
                                            color: white;
                                            padding: 15px 32px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 16px;
                                            margin-left: 440px;
                                            margin-right: auto;
                                            cursor: pointer; 
                                            border-radius: 5px;                           
                                        }
                                        </style>
                        </form>
                    </div>
                </div><!-- col-lg-12-->
            </div><!-- row -->
    
    </section>
    
            <! --/wrapper -->
        </section><!-- /MAIN CONTENT -->
        



        
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                <h4>For any queries Contact AAA-Indian Institute of Information Technology, Allahabad</h4>
                <a href="basic_table.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
        </section>
    
<% include paartials/footer %>